alembic==1.8.1
attrs==22.1.0
autopage==0.5.1
certifi @ file:///C:/b/abs_ac29jvt43w/croot/certifi_1665076682579/work/certifi
cliff==4.0.0
cloudpickle==2.2.0
cmaes==0.9.0
cmd2==2.4.2
databricks-cli==0.17.3
docker==6.0.1
Flask==2.2.2
future==0.18.2
gitdb==4.0.9
GitPython==3.1.29
greenlet==2.0.1
hyperopt==0.2.7
importlib-metadata==4.13.0
importlib-resources==5.10.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.3
MarkupSafe==2.1.1
mlflow==1.30.0
networkx==2.8.8
oauthlib==3.2.2
optuna==3.0.3
pbr==5.11.0
prettytable==3.5.0
prometheus-client==0.15.0
prometheus-flask-exporter==0.21.0
protobuf==4.21.9
PyJWT==2.6.0
pywin32==305
querystring-parser==1.2.4
smmap==5.0.0
SQLAlchemy==1.4.43
sqlparse==0.4.3
stevedore==4.1.1
tabulate==0.9.0
tqdm==4.64.1
waitress==2.1.2
websocket-client==1.4.2
Werkzeug==2.2.2
wincertstore==0.2
zipp==3.10.0
-e.